<footer class="footer">
  <div class="container">
    <span>
      <p>
        <a href="https://opencharlotte.org" rel="noopener noreferrer">
          <img src="/assets/img/open-clt-400.png" alt="Open Charlotte Logo" style="max-width: 100px;">
        </a>
      </p>
      <p>
        This website is an independent project by volunteers of <a href="https://opencharlotte.org">Open Charlotte</a> to help
        encourage local voter engagement. 
      </p>
      <p>
        This website has no political affiliation and is not affiliated with the City of Charlotte or Mecklenburg County, or their underlying departments.
        Content on this website has been collected and shared by residents interested in helping residents learn and partake in their elections. To flag an inaccuracy, submit an "issue" or "pull request" through <a href="https://github.com/OpenCLTBrigade/vote-clt-site">the site's GitHub page here</a>.
      </p>
      <p>
        Photos used on this site are by 
        <a href="https://unsplash.com/@claybanks?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Clay Banks</a>, 
        <a href="https://unsplash.com/@element5digital?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Element5 Digital</a>,
        <a href="https://unsplash.com/@ajaegers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Arnaud Jaegers</a>,
        and <a href="https://unsplash.com/@hellokellybrito?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">J. Kelly Brito</a>
        on <a href="https://unsplash.com">Unsplash</a>. Original site template by <a href="https://github.com/janczizikow">Jan Czizikow</a>.
      </p>
    </span>
  </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150888227-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150888227-1');
</script>
<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>